* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    height: 20vh;
    width: 100vw;
    background-color: #1C658C;
    display: flex;
    align-items: center;

}

.header h1 {
    margin-left: 10%;
    font-size: 3em;
    color: #EEEEEE;
    text-shadow: 1px 1px 3px black;
}

.mid-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    background-color: #D8D2CB;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    text-align: center;
}

.score-label {
    font-size: 1em;
    font-weight: 600;
}


.body {
    background-color: #D8D2CB;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 1.5em;
}

.body label {
    font-weight: 700;
    margin: 0 20%;
    text-align: center;
    padding-top: 5%;
}

.body input {
    height: 5vh;
    width: 20vh;
    font-size: 1em;
    text-align: center;
    outline: none !important;
    border: 3px solid rgb(179, 6, 6);
}

.body input.valid {
    border: 3px solid rgb(15, 114, 15);
}

.body input.invalid {
    border: 3px solid rgb(179, 6, 6);
}

.body #result {
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}

.body button {
    padding: 10px 20px;
    background-color: #1C658C;
    color: #EEEEEE;
    text-shadow: .5px .5px 1px black;
    border: none;
    border-radius: 5px;
    font-size: 0.75em;
    width: 15vh;
}

.body .buttons {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.body button:hover {
    background-color: #398AB9;
}

.body button:active {
    color: #D8D2CB;
    background-color: #1C658C;
}

.body button.disabled {
    background-color: #398ab9c2;
    color: lightgrey;
    text-shadow: none;
}

#reset-all-button {
    margin-bottom: 10%;
}

.footer {
    height: 10vh;
    width: 100 vw;
    background-color: #1C658C;
    display: flex;
    align-items: center;
}

.footer small {
    margin-left: 10%;
    font-size: 1em;
    font-weight: 500;
}